html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(226, 225, 224);
}

.sub-container {
  height: 430px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

.card {
  height: 400px;
  border-radius: 10px;
  width: 350px;
  /* border: 2px solid black; */
  background-color: white;
  display: flex;
  flex-direction: column;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.card-image {
  height: 350px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  width: 100%;
  /* border: 2px solid brown; */
}

.card-section {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
}

.card-section-button {
  padding: 8px 30px;
  border-radius: 10px;

  cursor: pointer;
}

.card-section-author {
  margin-top: 7px;
}

.container {
  max-width: 70vw;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.btn1 {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid rgb(106, 106, 106);
  margin-right: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.btn2 {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 1px solid rgb(106, 106, 106);
  margin-left: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.btn2:hover {
  transition: 1s;
  padding: 0 40px;
  background-color: black;
  color: white;
}

.btn1:hover {
  transition: 1s;
  padding: 0 40px;
  background-color: black;
  color: white;
}

.label {
  height: fit-content;
  width: fit-content;
  background-color: gray;
  padding: 2px 20px;
  border-radius: 10px;
  color: white;
}
